<h1><%= @user.name %>'s page</h1>
<br>
<p>
  <strong>Profile photo:</strong><br>
  <% if not @user.image.url.nil? %>
    <%= image_tag @user.image.url, class:'icon' %>
  <% else %>
    未登録
  <% end %>
</p>
<br>
<p>e-mail: <%= @user.email %></p>

<%= link_to 'Edit', edit_user_path(@user) %> 