<h2>My page</h2>
<%= link_to '編集', edit_user_path(@user) %> 
<hr />
<p>
  <strong>User</strong><br>
  <%= @user.name %>
</p>
<p>
  <strong>Profile photo:</strong><br>
  <% if not @user.image.url.nil? %>
    <%= image_tag @user.image.url, class:'icon' %>
  <% else %>
    未登録
  <% end %>
</p>
<p>
  <strong>e-mail:</strong><br> 
  <%= @user.email %>
  </p>